.cardContainer {
  display: flex;
  align-items: center;
}

.playlistCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  padding-right: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.textContainer {
  flex-grow: 1;
  margin-left: 10px;
  overflow: hidden;
}

.playlistName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlistAuthor {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actionIcon {
  flex-shrink: 0;
}
