.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191919;
  padding: 0px 20px;
  height: 100px;
  width: 100%;
  position: relative;
  box-shadow: inset 2px 2px 30px rgba(0, 0, 0, 0.405);
}

.playerControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playerSlider {
  display: flex;
  align-items: center;
  gap: 10px;
}
